In [1]:
import pandas as pd
import seaborn as sns
import nltk

In [2]:
df = pd.read_csv("emails.csv")
df

                                                   text  spam
0     Subject: naturally irresistible your corporate...     1
1     Subject: the stock trading gunslinger  fanny i...     1
2     Subject: unbelievable new homes made easy  im ...     1
3     Subject: 4 color printing special  request add...     1
4     Subject: do not have money , get software cds ...     1
...                                                 ...   ...
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

[5728 rows x 2 columns]

In [3]:
df['length'] = df['text'].map(lambda t: len(t))

In [4]:
df

                                                   text  spam  length
0     Subject: naturally irresistible your corporate...     1    1484
1     Subject: the stock trading gunslinger  fanny i...     1     598
2     Subject: unbelievable new homes made easy  im ...     1     448
3     Subject: 4 color printing special  request add...     1     500
4     Subject: do not have money , get software cds ...     1     235
...                                                 ...   ...     ...
5723  Subject: re : research and development charges...     0    1189
5724  Subject: re : receipts from visit  jim ,  than...     0    1167
5725  Subject: re : enron case study update  wow ! a...     0    2131
5726  Subject: re : interest  david ,  please , call...     0    1060
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0    2331

[5728 rows x 3 columns]

In [12]:
df.isna().values.any()

False

In [13]:
df.groupby('spam').count()

      text  length
spam
0     4360    4360
1     1368    1368

In [15]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(df['text'], df['spam'])

In [19]:
x = CountVectorizer()
X = x.fit_transform(X_train)

array(['00', '000', '0000', ..., 'zzmacmac', 'zzncacst', 'zzzz'],
      dtype=object)